.new-password {
  align-self: center;
  margin: auto;
  box-shadow: 0px 2px 15px 0px rgba(8, 202, 236, 0.49);
  border-radius: 30px;
  padding: 20px 30px;
  width: 400px;
}
.new-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-password__account {
  color: #4f9d47;
  text-decoration: none;
}

.new-password__back {
  color: #7f7f8c;
  text-decoration: none;
}

@media (max-width: 769px) {
  .new-password {
    width: 380px;
    padding: 10px;
    box-shadow: none;
  }

  .new-password__form {
    padding: 10px;
  }
}

@media (max-width: 414px) {
  .new-password {
    width: 300px;
    padding: 10px;
  }

  .new-password__form {
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .new-password {
    width: 280px;
    padding: 10px;
  }

  .new-password__form {
    padding: 10px;
  }
}
