.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: lightskyblue;
  font-family: Ubuntu;
}

.header__section {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__section_left {
  display: flex;
  width: 100%;
}

.header__logo {
  font-weight: bold;
}

.header__section_right {
  display: flex;
}

.header__item {
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 5px;
}

.header__button {
  cursor: pointer;
}

.sign-up_link {
  color: #ff0000;
  text-decoration: none;
  white-space: nowrap;
}

.sign-in_link {
  color: #ff0000;
  text-decoration: none;
  white-space: nowrap;
}

.Dashboard_link {
  color: #1e1e21;
  text-decoration: none;
  white-space: nowrap;
}

.New-Task_link {
  color: #1e1e21;
  text-decoration: none;
  white-space: nowrap;
}

.todo_logo {
  color: #fffdfd;
  text-decoration: none;
  white-space: nowrap;
  margin: 10px;
}
