.chat {
  align-self: center;
  margin: auto;
  box-shadow: 0px 2px 15px 0px rgb(36 255 6 / 30%);
  border-radius: 30px;
  padding: 30px 30px;
  width: 512px;
}

.chat_apt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 6px;
}

.messageHeader {
  height: 10%;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.messageForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageInput {
  font-size: 14px;
  height: 30px;
  width: 95%;
  margin-right: 10px;
}

.messageButton {
  margin-left: 10px;
}

.messages {
  overflow-y: scroll;
  padding: 0 5px;
  margin: 1px 1px 10px 1px;
  width: 500px;
  max-height: 390px;
}

.message {
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: 20px 20px 20px 0;
}

.message p {
  background-color: #c2bebe;
  padding: 7px;
  margin: 3px 0px 3px 0px;
  max-width: 88%;
  word-wrap: break-word;
  border-radius: 20px 20px 20px 0;
}

.myMessage {
  display: flex;
  border-radius: 20px;
  max-width: 100%;
  margin: 3px 0px 3px 0px;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}

.myMessage p {
  background: lightskyblue;
  padding: 7px;
  color: #1e1d1d;
  margin: 1px 1px 1px 1px;
  max-width: 88%;
  word-wrap: break-word;
  border-radius: 20px 20px 0 20px;
}

.Ava {
  width: 40px;
  height: 40px;
  margin: 0 3px;
  border-radius: 20px 20px 20px 20px;
}

.time {
  max-width: 100%;
  font-size: 13px;
  color: #5b5959;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat__btn {
  display: flex;
  color: #727370;
}

.chat__userName {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 12px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4px 4px 4px 4px;
}

.notifyMessage {
  display: flex;
  text-align: center;
  color: #4f9d47;
}
