.chat {
  align-self: center;
  margin: auto;
  box-shadow: 0px 2px 15px 0px rgb(36 255 6 / 30%);
  border-radius: 30px;
  padding: 25px 25px;
  width: 512px;
}

.chat_apt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 6px;
}

.messageHeader {
  height: 10%;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.messageForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.messageInput {
  font-size: 14px;
  height: 30px;
  width: 95%;
  margin-right: 10px;
}

.messageButton {
  margin-left: 10px;
}

.messages {
  overflow-y: scroll;
  padding: 0 5px;
  margin: 1px 1px 10px 1px;
  width: 500px;
  max-height: 390px;
}

.message {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 100%;
}

.message p {
  background-color: #f1f0f0;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  max-width: 100%;
}

.myMessage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  max-width: 100%;
  margin: 3px 0px 3px 0px;
}

.myMessage p {
  background: lightskyblue;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  max-width: 100%;
}

.Ava {
  width: 40px;
  height: 40px;
}
