.new-password {
  align-self: center;
  margin: auto;
  box-shadow: 0px 5px 10px rgba(31, 30, 30, 0.08);
  border-radius: 30px;
  padding: 20px 30px;
  width: 400px;
}
.new-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-password__account {
  color: blue;
  text-decoration: none;
}

.new-password__back {
  color: blue;
  text-decoration: none;
}
