.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard__table {
  border-collapse: collapse;
  color: #010c13;
}

.dashboard__table thead th {
  background-color: rgb(255, 214, 2);
  color: #0e100e;
  text-align: center;
  font-weight: bold;
}

.dashboard__table tbody tr:nth-of-type(even) {
  background-color: rgba(42, 126, 246, 0.27);
}

.dashboard__table tbody.dashboard__table-tb {
  font-weight: bold;
}

.dashboard__task-btn {
  border: none;
  background-color: transparent;
}

.dashboard__task-btns > :not(:last-child) {
  margin-right: 2px;
}

.dashboard__td_crossed {
  background-image: linear-gradient(0deg, transparent calc(50% - 5px), #010c13, transparent calc(50% + 5px));
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.dashboard__table-th {
  cursor: pointer;
}

.dashboard__table-title {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.dashboard__table-priority {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.dashboard__table-due_date {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.dashboard__sort-icon {
  position: absolute;
  padding: 0 0 5px;
}

@media (max-width: 769px) {
  .dashboard__table-title,
  .dashboard__table-priority,
  .dashboard__table-due_date {
    margin: 10px;
    width: 350px;
  }
  .dashboard__table {
    width: 100%;
    margin-top: 72px;
  }
  .dashboard__sort-icon {
    display: none;
  }
}

@media (max-width: 375px) {
  .dashboard__table-title,
  .dashboard__table-priority,
  .dashboard__table-due_date {
    width: 100%;
  }

  .dashboard__sort-icon {
    display: none;
  }
}
