.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard__task-btn {
  border: none;
  background-color: transparent;
}

.dashboard__task-btns > :not(:last-child) {
  margin-right: 2px;
}

.dashboard__td_crossed {
  background-image: linear-gradient(0deg, transparent calc(50% - 5px), #010c13, transparent calc(50% + 5px));
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.dashboard__table {
  border-collapse: collapse;
  color: #010c13;
}

.dashboard__table-th {
  cursor: pointer;
}

.dashboard__table-title {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.dashboard__table-priority {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.dashboard__table-due_date {
  position: relative;
  cursor: pointer;
  margin: 25px;
}

.dashboard__sort-icon {
  position: absolute;
  padding: 0 0 5px;
}

@media (max-width: 769px) {
  .dashboard__table-title,
  .dashboard__table-priority,
  .dashboard__table-due_date {
    margin: 8px 0;
    font-size: 14px;
  }

  .dashboard__table {
    margin-top: 73px;
    width: 100%;
  }
  .pagination {
    width: 100%;
  }
}
