.activation__message {
  margin: auto;
  box-shadow: 3px 3px 15px rgba(117, 135, 247, 80%);
  border-radius: 30px;
  padding: 20px 30px;
  width: 600px;
}

.activation__message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 769px) {
  .activation__message {
    width: 380px;
    padding: 10px;
  }

  .activation__message-form {
    padding: 10px;
  }
}

@media (max-width: 375px) {
  .activation__message {
    width: 280px;
    padding: 10px;
  }

  .activation__message-form {
    padding: 10px;
  }
}
