* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}

html,
#root,
body {
  height: 100%;
}

#root {
  display: flex;
}

table {
  border-collapse: collapse;
  flex: 1;
  margin: 20px;
  align-self: flex-start;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dashboard {
  display: flex;
}