html,
#root,
body {
  height: 100%;
}

#root {
  display: flex;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

a {
  color: #1e1d1d;
}

button,
a {
  cursor: pointer;
}

@media (max-width: 375px) {
  td,
  th {
    font-size: 12px;
  }
}

@media (min-width: 376px) and (max-width: 750px) {
  td,
  th {
    font-size: 14px;
  }
}

@media (min-width: 751px) and (max-width: 1330px) {
  td,
  th {
    font-size: 16px;
  }
}

@media (min-width: 1331px) {
  td,
  th {
    font-size: 18px;
  }
}
