html,
#root,
body {
  height: 100%;
}

#root {
  display: flex;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
}

a {
  color: #1e1d1d;
}

button,
a {
  cursor: pointer;
}

@media (max-width: 414px) {
  html,
  #root,
  body {
    margin-top: 1px;
  }
}

@media (max-width: 390px) {
  html,
  #root,
  body {
    margin-top: 1px;
  }
}

@media (max-width: 375px) {
  html,
  #root,
  body {
    margin-top: 1px;
  }
}
